#footer {
    text-align: right;
    font-size: 12px;
    margin-right: 10px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.toolbarGr {
    position: absolute;
    top: 20px;
    left: 20px;
}
.toolbarBtn {
    background-color: gainsboro;
    width: 24pt;
    height: 24pt;
}
.centerBlock{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
#info1 {
    position: absolute;
    left: 10px;
    top: 80px;
    font-size: 14pt;
    font-weight: bold;
    
}
.cmdDlg {
    position: absolute;
    left: 10px;
    top: 110px;
}
.inpuSet {
    position: absolute;
    top: 160px;
}
.sizeInput {
    left: 10px;
}
#offsetInput {
    left: 165px;
}
#dirInput {
    left: 330px;
}
.input {
    width: 75px;
    text-align: right;
    margin: 2px;
}
.button {
    width: 80px;
    margin-top: 2px;
    margin-right: 2px;
}
.selList {
    width: 180px;
    height:60px;
}#okCancel {
    position: absolute;
    left: 10px;
    top: 210px;
}
#dataInfo {
    position: absolute;
    font-size: large;
    bottom: 30px;
    right: 30px;
}
#myGlCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 48px;
}
#modelTree {
    position: absolute;
    min-width: 200px;
    overflow: auto;
    /* border: solid thin; */
}
.ui-dialog-title{
    font-size: 15px;
}

/*#feedback { font-size: 0.8em; } */
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
/* li { margin: 3px; padding: 0.15em; font-size: 12px; height: 16px; } */

#PT_Seed_Points .ui-selecting { background: #FECA40; }
#PT_Seed_Points .ui-selected { background: #F39814; color: white; }
#PT_Seed_Points { list-style-type: none; margin: 0; padding: 0; width: 100%; height:75px; overflow:auto;}
#PT_Seed_Points li { margin: 3px; padding: 0.15em; font-size: 12px; height: 16px; }